<template>
  <div class="container-fluid">
    <div v-if="loading">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div v-else>
      <NewGameMenu
        v-if="game_name == null"
        v-on:start_game="startGame($event)"
      ></NewGameMenu>
      <GameBoard
        v-if="game_name != null"
        :prizes="prizes"
        :current_offer="current_offer"
        :offers="offers"
        :game_activeplay="game_activeplay"
        :game_dealt="game_dealt"
        v-on:start_new_game="newGame()"
        v-on:prize_selected="selectPrize($event)"
        v-on:deal="deal_choice(true, $event)"
        v-on:nodeal="deal_choice(false, $event)"
      ></GameBoard>
    </div>
  </div>
</template>

<script>
import NewGameMenu from "@/components/NewGameMenu";
import GameBoard from "@/components/GameBoard";
export default {
  name: "DOND",
  components: { NewGameMenu, GameBoard },
  data() {
    return {
      loading: false,
      game_version: 3,
      game_name: null,
      game_type: null,
      game_turnnum: 0,
      game_activeplay: true,
      game_dealt: false,
      prizes: [
        {
          value: 0.01,
          color: "primary",
          in_play: true
        },
        {
          value: 0.1,
          color: "primary",
          in_play: true
        },
        {
          value: 0.5,
          color: "primary",
          in_play: true
        },
        {
          value: 1,
          color: "primary",
          in_play: true
        },
        {
          value: 5,
          color: "primary",
          in_play: true
        },
        {
          value: 10,
          color: "primary",
          in_play: true
        },
        {
          value: 50,
          color: "primary",
          in_play: true
        },
        {
          value: 100,
          color: "primary",
          in_play: true
        },
        {
          value: 250,
          color: "primary",
          in_play: true
        },
        {
          value: 500,
          color: "primary",
          in_play: true
        },
        {
          value: 750,
          color: "primary",
          in_play: true
        },
        {
          value: 1000,
          color: "danger",
          in_play: true
        },
        {
          value: 3000,
          color: "danger",
          in_play: true
        },
        {
          value: 5000,
          color: "danger",
          in_play: true
        },
        {
          value: 10000,
          color: "danger",
          in_play: true
        },
        {
          value: 15000,
          color: "danger",
          in_play: true
        },
        {
          value: 20000,
          color: "danger",
          in_play: true
        },
        {
          value: 35000,
          color: "danger",
          in_play: true
        },
        {
          value: 50000,
          color: "danger",
          in_play: true
        },
        {
          value: 75000,
          color: "danger",
          in_play: true
        },
        {
          value: 100000,
          color: "danger",
          in_play: true
        },
        {
          value: 250000,
          color: "danger",
          in_play: true
        }
      ],
      offers: [],
      current_offer: null,
      banker_logic: [
        //round 1 offer
        {
          l: {
            min: 15,
            max: 25
          },
          h: {
            min: 20,
            max: 35
          }
        },
        //round 2 offer
        {
          l: {
            min: 18,
            max: 30
          },
          h: {
            min: 20,
            max: 35
          }
        },
        //round 3 offer
        {
          l: {
            min: 20,
            max: 35
          },
          h: {
            min: 25,
            max: 40
          }
        },
        //round 4 offer
        {
          l: {
            min: 25,
            max: 40
          },
          h: {
            min: 30,
            max: 50
          }
        },
        //round 5 offer
        {
          l: {
            min: 30,
            max: 50
          },
          h: {
            min: 40,
            max: 75
          }
        },
        //round 6 offer
        {
          l: {
            min: 50,
            max: 80
          },
          h: {
            min: 60,
            max: 110
          }
        }
      ]
    };
  },
  methods: {
    startGame(mode) {
      if (mode == "challenge" || mode == "simulation") {
        this.loading = true;
        let gamename = prompt("Enter the name of the game", "Daniel's game");
        this.game_name = gamename;
        this.game_type = mode;
        this.saveGame();
        this.loading = false;
      }
    },
    newGame() {
      this.game_name = null;
      this.game_type = null;
      this.game_turnnum = 0;
      this.game_activeplay = true;
      this.game_dealt = false;
      this.prizes = [
        {
          value: 0.01,
          color: "primary",
          in_play: true
        },
        {
          value: 0.1,
          color: "primary",
          in_play: true
        },
        {
          value: 0.5,
          color: "primary",
          in_play: true
        },
        {
          value: 1,
          color: "primary",
          in_play: true
        },
        {
          value: 5,
          color: "primary",
          in_play: true
        },
        {
          value: 10,
          color: "primary",
          in_play: true
        },
        {
          value: 50,
          color: "primary",
          in_play: true
        },
        {
          value: 100,
          color: "primary",
          in_play: true
        },
        {
          value: 250,
          color: "primary",
          in_play: true
        },
        {
          value: 500,
          color: "primary",
          in_play: true
        },
        {
          value: 750,
          color: "primary",
          in_play: true
        },
        {
          value: 1000,
          color: "danger",
          in_play: true
        },
        {
          value: 3000,
          color: "danger",
          in_play: true
        },
        {
          value: 5000,
          color: "danger",
          in_play: true
        },
        {
          value: 10000,
          color: "danger",
          in_play: true
        },
        {
          value: 15000,
          color: "danger",
          in_play: true
        },
        {
          value: 20000,
          color: "danger",
          in_play: true
        },
        {
          value: 35000,
          color: "danger",
          in_play: true
        },
        {
          value: 50000,
          color: "danger",
          in_play: true
        },
        {
          value: 75000,
          color: "danger",
          in_play: true
        },
        {
          value: 100000,
          color: "danger",
          in_play: true
        },
        {
          value: 250000,
          color: "danger",
          in_play: true
        }
      ];
      this.offers = [];
      this.current_offer = null;
      this.saveGame();
    },
    saveGame(doloading = false) {
      if (doloading) {
        this.loading = true;
      }
      localStorage.clear();
      localStorage.setItem("game_version", this.game_version);
      localStorage.setItem("game_name", this.game_name);
      localStorage.setItem("game_type", this.game_type);
      localStorage.setItem("game_turnnum", this.game_turnnum);
      localStorage.setItem("game_activeplay", this.game_activeplay);
      localStorage.setItem("game_dealt", this.game_dealt);
      localStorage.setItem("prizes", JSON.stringify(this.prizes));
      localStorage.setItem("offers", JSON.stringify(this.offers));
      localStorage.setItem("current_offer", this.current_offer);
      if (doloading) {
        this.loading = false;
      }
    },
    loadGame(doloading = false) {
      if (doloading) {
        this.loading = true;
      }
      if (localStorage.game_name == null) {
        console.info("no game to load, starting new game");
        this.newGame();
      } else {
        if (localStorage.getItem("game_version") == this.game_version) {
          console.info(
            "loading game from memory: " + localStorage.getItem("game_name")
          );
          if (localStorage.getItem("game_name") == "null") {
            this.game_name = null;
          } else {
            this.game_name = localStorage.getItem("game_name");
          }
          this.game_type = localStorage.getItem("game_type");
          this.game_turnnum = parseInt(localStorage.getItem("game_turnnum"));
          if (localStorage.getItem("game_activeplay") == "true") {
            this.game_activeplay = true;
          } else {
            this.game_activeplay = false;
          }
          if (localStorage.getItem("game_dealt") == "true") {
            this.game_dealt = true;
          } else {
            this.game_dealt = false;
          }
          this.prizes = JSON.parse(localStorage.getItem("prizes"));
          this.offers = JSON.parse(localStorage.getItem("offers"));
          this.current_offer = parseFloat(
            localStorage.getItem("current_offer")
          );
        } else {
          console.warn("game version mismatch from memory, starting new game");
          this.newGame();
        }
      }
      if (doloading) {
        this.loading = false;
      }
    },
    selectPrize(index) {
      if (index >= 0 && index <= 21) {
        this.prizes[index].in_play = false;
        this.game_turnnum++;
        if (this.game_turnnum == 5) {
          this.game_activeplay = false;
          this.generateOffer(0);
        } else if (this.game_turnnum == 8) {
          this.game_activeplay = false;
          this.generateOffer(1);
        } else if (this.game_turnnum == 11) {
          this.game_activeplay = false;
          this.generateOffer(2);
        } else if (this.game_turnnum == 14) {
          this.game_activeplay = false;
          this.generateOffer(3);
        } else if (this.game_turnnum == 17) {
          this.game_activeplay = false;
          this.generateOffer(4);
        } else if (this.game_turnnum == 20) {
          this.game_activeplay = false;
          this.generateOffer(5);
        }
        this.saveGame();
      }
    },
    generateOffer(offer_index) {
      let offer = {
        type: "prize",
        value: 0,
        low: 0,
        high: 0,
        actual: 0,
        average: 0,
        blues: 0,
        reds: 0,
        bankergenerosity: 0,
        min_perc: 0,
        max_perc: 0,
        min_prize: 0,
        max_prize: 0,
        remaining_prizes: 0,
        accepted: null
      };
      let offerval = 0;
      let offerval_l = 0;
      let offerval_h = 0;
      let min;
      let max;
      let roundto;
      let curavg = this.calculatePrizeAverage();
      let min_prize = this.calculateMinPrize();
      let max_prize = this.calculateMaxPrize();
      offer.average = curavg;
      let num_blues = this.calculateActiveColors("primary");
      offer.blues = num_blues;
      let num_reds = this.calculateActiveColors("danger");
      offer.reds = num_reds;

      if (num_blues > num_reds) {
        min = this.banker_logic[offer_index]["l"]["min"];
        max = this.banker_logic[offer_index]["l"]["max"];
      } else {
        min = this.banker_logic[offer_index]["h"]["min"];
        max = this.banker_logic[offer_index]["h"]["max"];
      }
      let bankergenerosity = this.generateRandomNum(min, max);
      offer.bankergenerosity = bankergenerosity;
      offer.min_perc = min;
      offer.max_perc = max;
      offer.min_prize = min_prize;
      offer.max_prize = max_prize;
      offer.remaining_prizes = num_blues + num_reds;

      //round 1
      if (this.game_turnnum == 5) {
        roundto = 50;
      }
      //round 2
      if (this.game_turnnum == 8) {
        roundto = 100;
      }
      //round 3
      if (this.game_turnnum == 11) {
        roundto = 250;
      }
      //round 4
      if (this.game_turnnum == 14) {
        roundto = 500;
      }
      //round 5
      if (this.game_turnnum == 17) {
        roundto = 500;
      }
      //round 6
      if (this.game_turnnum == 20) {
        roundto = 1000;
      }

      let raw = (curavg / 100) * bankergenerosity;
      if (raw < min_prize) {
        raw = min_prize;
      }
      if (raw > max_prize) {
        raw = max_prize;
      }
      offerval = this.roundTo_closestX(raw, roundto);
      raw = (curavg / 100) * min;
      offerval_l = this.roundTo_closestX(raw, roundto);
      raw = (curavg / 100) * max;
      offerval_h = this.roundTo_closestX(raw, roundto);

      //round 6 (override default offer for specific 2-box)
      if (this.game_turnnum == 20) {
        let midpoint = Math.round((min_prize + max_prize) / 2);
        raw = (midpoint / 100) * bankergenerosity;
        offerval = this.roundTo_closestX(raw, roundto);
        raw = (midpoint / 100) * min;
        offerval_l = this.roundTo_closestX(raw, roundto);
        raw = (midpoint / 100) * max;
        offerval_h = this.roundTo_closestX(raw, roundto);
      }

      offer.value = offerval;
      offer.low = offerval_l;
      offer.high = offerval_h;
      this.offers.push(offer);
      this.current_offer = offer_index;

      return offer;
    },
    calculateActiveColors(color) {
      let sum = 0;
      for (let i = 0; i < this.prizes.length; i++) {
        if (this.prizes[i].in_play) {
          if (this.prizes[i].color == color) {
            sum++;
          }
        }
      }
      return sum;
    },
    calculateMinPrize() {
      let out = 0;
      for (let i = 0; i < this.prizes.length; i++) {
        if (this.prizes[i].in_play) {
          if (out == 0) {
            out = this.prizes[i].value;
          }
        }
      }
      return out;
    },
    calculateMaxPrize() {
      let out = 0;
      for (let i = 0; i < this.prizes.length; i++) {
        if (this.prizes[i].in_play) {
          out = this.prizes[i].value;
        }
      }
      return out;
    },
    calculatePrizeAverage() {
      let sum = 0;
      let total_inplay = 0;
      let avg;
      for (let i = 0; i < this.prizes.length; i++) {
        if (this.prizes[i].in_play) {
          total_inplay++;
          sum = sum + this.prizes[i].value;
        }
      }
      avg = sum / total_inplay;
      avg = this.roundTo_2decplaces(avg);
      return avg;
    },
    roundTo_0decplaces(value) {
      return Math.round(value);
    },
    roundTo_2decplaces(value) {
      return Math.round((value + Number.EPSILON) * 100) / 100;
    },
    roundTo_closestX(value, closest = 500) {
      return Math.floor(value / closest) * closest;
    },
    generateRandomNum(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    deal_choice(choice, actualoffer) {
      this.offers[this.current_offer]["actual"] = parseFloat(actualoffer);
      this.offers[this.current_offer]["accepted"] = choice;
      this.game_activeplay = true;
      if (choice) {
        this.game_dealt = true;
      }
      this.saveGame();
    }
  },
  created() {
    this.loadGame();
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
