<template>
  <div>
    <div class="row text-center">
      <div class="col-3">
        <PrizeListItemButton
          :prize="prizes[0]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(0)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[1]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(1)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[2]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(2)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[3]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(3)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[4]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(4)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[5]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(5)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[6]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(6)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[7]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(7)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[8]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(8)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[9]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(9)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[10]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(10)"
        ></PrizeListItemButton>
      </div>
      <div class="col my-auto">
        <div v-if="game_activeplay">
          <h5>Please select the prize to be removed..</h5>
        </div>
        <div v-else>
          <h3>
            Estimated Offer:
            {{ returnFormattedValue(offers[current_offer].value) }}
          </h3>
          <h6>
            Average: {{ returnFormattedValue(offers[current_offer].average) }}
          </h6>
          <h6>
            Range from: {{ returnFormattedValue(offers[current_offer].low) }} -
            {{ returnFormattedValue(offers[current_offer].high) }}
          </h6>
          <h6 v-if="current_offer < 5">
            Chance of Winning / Discovering any Prize: {{ returnWinChance() }}%
            / {{ returnHitChance() }}%
          </h6>
          <div class="row mt-2" v-if="current_offer < 5">
            <div class="col-5" v-if="!game_dealt">
              <button
                type="button"
                class="btn btn-block btn-success"
                @click="dealornodeal(true)"
              >
                Deal
              </button>
            </div>
            <div class="col-2 my-auto" v-if="!game_dealt">OR</div>
            <div class="col-5" v-if="!game_dealt">
              <button
                type="button"
                class="btn btn-block btn-danger"
                @click="dealornodeal(false)"
              >
                No Deal
              </button>
            </div>
            <div class="col" v-if="game_dealt">
              <button
                type="button"
                class="btn btn-block btn-info"
                @click="dealornodeal(false)"
              >
                Continue
              </button>
            </div>
          </div>
        </div>
        <div v-if="current_offer > 0">
          <h6 class="mt-2">Previous Offers:</h6>
          <div v-for="offer in offers" :key="offer.actual">
            <p class="mb-0" v-if="offer.actual > 0">
              {{ returnFormattedValue(offer.actual) }}
            </p>
          </div>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-sm btn-block btn-outline-secondary mt-2"
            @click="startNewGame()"
          >
            Start a New Game
          </button>
        </div>
      </div>
      <div class="col-3">
        <PrizeListItemButton
          :prize="prizes[11]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(11)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[12]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(12)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[13]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(13)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[14]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(14)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[15]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(15)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[16]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(16)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[17]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(17)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[18]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(18)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[19]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(19)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[20]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(20)"
        ></PrizeListItemButton>
        <PrizeListItemButton
          :prize="prizes[21]"
          :game_activeplay="game_activeplay"
          v-on:prize_selected="selectPrize(21)"
        ></PrizeListItemButton>
      </div>
    </div>
  </div>
</template>

<script>
import PrizeListItemButton from "@/components/PrizeListItemButton";
export default {
  name: "GameBoard",
  components: { PrizeListItemButton },
  data() {
    return {};
  },
  props: {
    prizes: {
      type: Array
    },
    game_activeplay: {
      type: Boolean
    },
    game_dealt: {
      type: Boolean
    },
    current_offer: {
      type: Number
    },
    offers: {
      type: Array
    }
  },
  methods: {
    dealornodeal(choice) {
      let actual = prompt(
        "What is the actual deal offered by the banker?",
        "1000.00"
      );
      if (choice) {
        this.$emit("deal", actual);
      } else {
        this.$emit("nodeal", actual);
      }
    },
    selectPrize(index) {
      if (index >= 0 && index <= 21) {
        this.prizes[index].in_play = false;
        this.$emit("prize_selected", index);
      }
    },
    returnFormattedValue(val) {
      let out;
      if (val < 1) {
        if (val < 0.1) {
          let temp = val * 100;
          out = temp + "p";
        } else {
          let temp = val * 10;
          out = temp + "0p";
        }
      } else {
        out = "£" + Intl.NumberFormat().format(val);
      }
      return out;
    },
    returnWinChance() {
      let chance = (1 / this.offers[this.current_offer].remaining_prizes) * 100;
      return Math.round((chance + Number.EPSILON) * 100) / 100;
    },
    returnHitChance() {
      let boxes = this.offers[this.current_offer].remaining_prizes - 1;
      let chance = (1 / boxes) * 100;
      return Math.round((chance + Number.EPSILON) * 100) / 100;
    },
    startNewGame() {
      if (confirm("Are you sure you want to start a new game?")) {
        this.$emit("start_new_game");
      }
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
