<template
  ><div>
    <div class="row">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary btn-block"
          @click="startGameMode('challenge')"
          disabled
        >
          Start Game: Challenge Mode
        </button>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">- or -</div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-info btn-block"
          @click="startGameMode('simulation')"
        >
          Start Game: Simulation Mode
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NewGameMenu",
  data() {
    return {};
  },
  methods: {
    startGameMode(mode) {
      this.$emit("start_game", mode);
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
