<template>
  <div>
    <div
      v-if="prize.in_play"
      :class="returnButtonClasses()"
      @click="selectPrize()"
    >
      <h5 class="mb-0">{{ returnFormattedValue() }}</h5>
    </div>
    <div
      v-else
      class="btn btn-block btn-sm mt-1 mb-1"
      style="visibility: hidden"
    >
      <h5 class="mb-0">{{ returnFormattedValue() }}</h5>
    </div>
  </div>
</template>

<script>
export default {
  name: "PrizeListItemButton",
  components: {},
  data() {
    return {};
  },
  props: {
    prize: {
      type: Object
    },
    game_activeplay: {
      type: Boolean
    }
  },
  methods: {
    selectPrize() {
      if (this.game_activeplay) {
        this.prize.in_play = false;
        this.$emit("prize_selected");
      } else {
        console.info(
          "prize button clicked (" +
            this.prize.value +
            ") but not in active play"
        );
      }
    },
    returnButtonClasses() {
      return "btn btn-block btn-sm mt-1 mb-1 btn-" + this.prize.color;
    },
    returnFormattedValue() {
      let out;
      if (this.prize.value < 1) {
        if (this.prize.value < 0.1) {
          let temp = this.prize.value * 100;
          out = temp + "p";
        } else {
          let temp = this.prize.value * 10;
          out = temp + "0p";
        }
      } else {
        out = "£" + Intl.NumberFormat().format(this.prize.value);
      }
      return out;
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
